html, body {
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
}
.calcText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em
}
.calcFunc {
    background-color: #D6D65A;
}
.calcNum {
    background-image: radial-gradient(#BBD2C5, #7498AD);
}
.normal {
    color: #343434;
    font-weight: normal;
    font-style: normal;
}
.operator {
    color: #1725f9;
    font-weight: bolder;
    font-style: normal;
}
.resultPositive {
    color: #298200;
    font-weight: bolder;
    font-style: normal;
}
.resultNegative {
    color: #ee0202;
    font-weight: bolder;
    font-style: normal;
}
.error {
    color: #ee0202;
    font-weight: bolder;
    font-style: italic;
}
.bgOperator {
    background-color: #1725f95c;
}
.bgPositive {
    background-color: #29820069;
}
.bgNegative {
    background-color: #ee020278;
}
.footerText {
    font-family: Georgia, serif;
    font-size: 0.75em;
    color: #ececec;
    font-weight: bold;
}
#mainSection{
    min-height: 100%;
    height: auto !important;
    margin-bottom: -48px;
    width: 100%;
}
#titleSpacing {
    height: 24px;
}
#calcSection {
    width: 370px;
    margin: auto;
    position: relative;
}
#calcContainer {
    background-color: darkgrey;
    border-style: ridge;
    border-width: 16px;
    border-color: darkcyan;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .75fr;
    grid-template-rows: .6fr .6fr 1.6fr 1.8fr 1.8fr 1.8fr 1.9fr;
    gap: 1px 1px;
    grid-template-areas: "calcOutput calcOutput calcOutput calcOutput" "calcOutput calcOutput calcOutput calcOutput" "calcClear calcDiv calcMult calcSub" "calc7 calc8 calc9 calcAdd" "calc4 calc5 calc6 calcAdd" "calc1 calc2 calc3 calcEnter" "calc0 calc0 calcDecimal calcEnter";
    padding: 2px;
    align-content: center;
    height: 335px;
}
#calcOutput {
    grid-area: calcOutput;
    font-size: 1.2em;
    text-align: right;
    background-color: #efefef;
    width: 98.5%;
    padding: 0;
}
#calc7 { grid-area: calc7; }

#calc8 { grid-area: calc8; }

#calc9 { grid-area: calc9; }

#calc4 { grid-area: calc4; }

#calc5 { grid-area: calc5; }

#calc6 { grid-area: calc6; }

#calc1 { grid-area: calc1; }

#calc2 { grid-area: calc2; }

#calc3 { grid-area: calc3; }

#calc0 { grid-area: calc0; }

#calcDecimal { grid-area: calcDecimal; }

#calcClear { grid-area: calcClear; }

#calcMult { grid-area: calcMult; }

#calcDiv { grid-area: calcDiv; }

#calcSub { grid-area: calcSub; }

#calcAdd { grid-area: calcAdd; }

#calcEnter { grid-area: calcEnter; }

#footerSection {
    height: 44px;
    position: fixed;
    width: 100%;
}
#footerContainer {
    height: 48px;
    border: 8px ridge #468b00;
    background-color: #00468b;
    display: inline-block;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    min-height: calc(100vh-44px);
}
#footerTitle {
    margin: 0px;
    padding: 9px 0px 9px 9px;
    float: left;
  }
#footerLink {
    margin: 0px;
    padding: 9px 9px 9px 0px;
    float: right;
    text-decoration: underline;
  }